{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section class="estate1">
    {% include 'navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="s-head ">
                    <div class=" mx-auto text-center" id="mycard">
                        <h5>Booking</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="s-head2 mx-auto text-center">
                    <h2> <span class="brs">Greatwall Gardens 5</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sketch">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="b-head">
                    <h4>Apartment [A04]</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'landing' %}">Home</a></li>
                    <li><a href="{% url 'estate' %}">Apartment</a></li>
                    <li><a href="{% url 'sketch' %}">Apartment's Plan</a></li>
                    <li><a href="{% url 'block' %}">Block</a></li>
                    <li><a href="{% url 'floor' %}">Floor & Unit</a></li>
                    <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
                    <li>Booking Details</li>
                  </ul>
            </div>
            <div class="right-heads">
                <p>
                    Please select one from the below then click NEXT
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="b-icon">
                    <button class="btn btn-success">1</button>
                    <p>You are booking As ?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row mt-3">
          <div class="col-md-12">
            <form action="">
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="INDIVIDUAL" selected>
                    <label class="form-check-label" for="inlineCheckbox1">INDIVIDUAL</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="JOINT OWNERSHIP">
                    <label class="form-check-label" for="inlineCheckbox2">JOINT OWNERSHIP</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="checkbox" id="inlineCheckbox3" value="COMPANY">
                    <label class="form-check-label" for="inlineCheckbox3">COMPANY / CORPORATE</label>
                  </div>
                  <p class="mt-4">
                    You have selected <span class="br">INDIVIDUAL BOOKING </span>
                   </p>
                  <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3" id="page">
                    <a href="{% url 'individual' %}" class="btn btn-success">Next &raquo;</a>
                </div>
              </form>
          </div> 
           
        </div>
    </div>
</section> 
{% include 'footer.html' %}
{% endblock %}