{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section class="estate1">
    {% include 'navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="s-head ">
                    <div class=" mx-auto text-center" id="mycard">
                        <h5>Select unit</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="s-head2 mx-auto text-center">
                    <h2> <span class="brs">Greatwall Gardens 5</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sketch">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'landing' %}">Home</a></li>
                    <li><a href="{% url 'estate' %}">Apartment</a></li>
                    <li><a href="{% url 'block' %}">Block</a></li>
                    <li>Floor/Unit</li>
                </ul>
            </div>
            <div class="col-md-3" id="f-lefts">
                <h3>Select Floor <i class="far fa-check-square" style="color:#85C1E9 "></i></h3>
                <div class="fl">
                    <form action="">
                        <div class="list-group mb-3">
                            <label class="list-group-item mb-2">
                                <input class="form-check-input me-1" type="checkbox" value="">
                                Ground Floor
                            </label>
                            <label class="list-group-item mb-2">
                                <input class="form-check-input me-1" type="checkbox" value="">
                                First Floor
                            </label>
                            <label class="list-group-item mb-2">
                                <input class="form-check-input me-1" type="checkbox" value="">
                                Second Floor
                            </label>
                            <label class="list-group-item mb-2">
                                <input class="form-check-input me-1" type="checkbox" value="">
                                Third Floor
                            </label>
                            <label class="list-group-item mb-2">
                                <input class="form-check-input me-1" type="checkbox" value="">
                                Fourth Floor
                            </label>
                        </div>
                        <a href="{% url 'block' %}" class="btn btn-danger">&laquo; Previous</a>
                        <a type="submit" class="btn btn-success" href="#collapseExample" data-bs-toggle="collapse"
                            role="button" aria-expanded="false" aria-controls="collapseExample"> Submit Floor <i
                                class="fas fa-long-arrow-alt-right"></i></a>
                    </form>
                </div>
            </div>
            <div class="col-md-1">

            </div>
            <div class="col-md-8 collapse me-auto" id="collapseExample">
                <form action="">
                    <div class="row">
                        <div class="right-head">
                            <h3>Select Unit <i class="far fa-check-square" style="color:#85C1E9 "></i></h3>
                            <p>
                                Please select your preferred unit then click NEXT
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="r-card">
                                <div class="r-head mx-auto text-center">
                                    <div class="trys  mx-auto text-center">
                                        <i class="fas fa-home" style="color: white;font-size: 39px;"></i>
                                    </div>
                                    <p><strong>Status</strong><span class="br"> Booked</span></p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked"
                                            checked>
                                        <label class="form-check-label mb-2" for="flexCheckDefault">
                                            House A01
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-3 col-lg-3">
                            <div class="r-card">
                                <div class="r-head mx-auto text-center">
                                    <div class="try  mx-auto text-center">
                                        <i class="fas fa-home" style="color: white;font-size: 39px;"></i>
                                    </div>
                                    <p><strong>Status</strong><span class="brs"> Available</span></p>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="5">
                                        <label class="form-check-label mb-2" for="flexCheckDefault">
                                            House A02
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a type="submit" class="btn btn-success" href="{% url 'terms' %}" style="margin-left:20px"> Submit
                        Unit <i class="fas fa-long-arrow-alt-right"></i></a>
            </div>
            </form>
        </div>
    </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}