{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}

<section class="landing">
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row" id="lands">
            <div class="col-md-4 col-sm-12">
                <div class="l-text">
                    <h4>
                        What Are You Looking For..?
                    </h4>
                    
                </div>
                <div class="l-image">
                    <img src="../../../static/img/sketch/2.png" class="img-fluid" alt="" srcset="">

                    <p>
                        We offer a peaceful, secure living environment
                        that has good roads, close proximity to major business and social amenities.
                    </p>
                </div>
                <div class="small  mx-auto text-center">
                    <img src="../../../static/img/auth/6.png" class="img-fluid" alt="" srcset="">

                    <p>
                        We offer a peaceful, secure living environment
                        that has good roads, close proximity to major business and social amenities.
                    </p>
                </div>
            </div>
            <div class="col-md-8 col-sm-12">
                <div class="c-card">
                    <div class="row">
                        <div class="col-md-2">
                        </div>
                        {% for estate in estate %}
                        <div class="col-md-5 col-sm-12">
                            <div class="cards" id="cards2">
                                <div class="c-image  mx-auto text-center">
                                    <img src="https://res.cloudinary.com/enock/{{estate.logo}}" class="img-fluid" alt="" srcset="">
                                </div>
                                <p>
                                   {{estate.about}}
                                </p>
                                <div class="foot  mx-auto text-center">
                                    <a href="{% url 'estate' %}" id="btn2" type="button" class="btn btn-outline-success">Book now <i
                                            class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}