{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section class="estate1">
    {% include 'navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="s-head ">
                    <div class=" mx-auto text-center" id="mycard">
                        <h5>Terms and Conditions</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="s-head2 mx-auto text-center">
                    <h2> <span class="brs">Greatwall Gardens 5</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sketch">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'landing' %}">Home</a></li>
                    <li><a href="{% url 'estate' %}">Apartment</a></li>
                    <li><a href="{% url 'block' %}">Block</a></li>
                    <li><a href="{% url 'floor' %}">Floor & Unit</a></li>
                    <li>Terms and Conditions</li>
                </ul>
            </div>
            <div class="right-heads">
                <p>
                    Please read carefully and click agree or disagree to move to the next step.
                </p>
            </div>
            <div class="col-md-4" id="f-left">
                <div class="t-image">
                    <img src="../../../static/img/sketch/2.png" class="img-fluid" alt="" srcset="">
                </div>
            </div>
            <div class="col-md-8" id="f-right">
                <form action="">
                    <div class="row">
                        <div class="right-head">
                            <h3>Terms and Conditions </h3>
                            <p>
                                Click agree or disagree to move to the next step
                            </p>
                        </div>
                        <div class="col-md-12">
                            <div class="top" style="margin-left: 10px;">
                                <p>
                                    By registering to the Site, you agree and warrant that:
                                </p>
                                <ol>
                                    <li>The booking fee for Greatwall Gardens 5 is Ksh. 30,000</li>
                                    <li>The booking fees are non-refundable</li>
                                    <li>Paying a booking fee does not warrant ownership of unit(s)</li>
                                    <li>The booking fee is payable once and in full</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3">
                        <a href="{% url 'floor' %}" class="btn btn-danger">&laquo; Previous</a>
                        <a href="{% url 'landing' %}" type="button" class="btn btn-danger">&laquo; Disagree</a>
                        <a href="{% url 'login' %}" type="button" class="btn btn-success">Agree &raquo;</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}