{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4">
                <div class="f-logo">
                    <h6>
                        Edermann Property Limited
                    </h6>
                    <p>
                        We offer a peaceful, secure living environment
                        that has good roads, close proximity to major business and social amenities.
                    </p>
                    <p>
                        <i class="fas fa-phone-volume" style="color:#048c38;"></i> Head office | 6th Floor | Finance
                        House, Loita Street
                    </p>
                    <p>
                        <i class="fas fa-map-marker-alt" style="color:#048c38;"></i> +254 724 209 709
                    </p>
                    <p>
                        <i class="far fa-envelope" style="color:#048c38;"></i> info@erdemann.co.ke
                    </p>

                </div>
            </div>
            <div class="col-md-3">
                <div class="f-logo">
                    <h6>
                        Useful Links
                    </h6>
                    <ul>
                        <li>
                            <a href="{% url 'landing' %}">Home Page</a>
                        </li>
                        <li>
                            <a href="">Great Wall Gardens</a>
                        </li>
                        <li>
                            <a href="">The River Estate</a>
                        </li>
                        <li>
                            <a href="">Privacy Policy</a>
                        </li>
                        <li>
                            <a href="">Terms and Conditions</a>
                        </li>
                    </ul>
                    <p>
                        Thank you for choosing to invest at <span class="brs">Greatwall Gardens</span>.
                    </p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="f-logo">
                    <h6>
                        Follows Us
                    </h6>
                    <button class="btn"><i class="fab fa-facebook-f"></i></button>
                    <button class="btn"><i class="fab fa-twitter"></i></button>
                    <button class="btn"><i class="fab fa-linkedin-in"></i></button>

                    <p>
                        <i class="far fa-copyright" style="color:#048c38;"></i> 
                        Copyright 2021 <span class="brs"> Edermann Property Limited</span> 
                        All Rights Reserved
                    </p>
                </div>
            </div>
            <div class="col-md-2">
                <div class="f-logo">
                    <button onclick="topFunction()" id="myBtn" title="Go to top"><i class="fas fa-chevron-circle-up"></i></button> 
                </div>
            </div>
        </div>
</section>
{% endblock %}