.estate1 {
    background: linear-gradient(rgba(238, 235, 235, 0.5),
            rgba(243, 239, 239, 0.5)), url(../img/sketch/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    transition: 0.3s all;
    padding-bottom: 20px;
}
#blocks{
    margin-top: 20px;
    margin-bottom: 20px
}
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    margin-top: 20px;
  }
  ul.breadcrumb li {
    display: inline;
    font-size: 18px;
    font-family: 'Titillium Web', sans-serif;
  }
  ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: ">\00a0";
  }
  ul.breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul.breadcrumb li a:hover {
    color: green;
    text-decoration: none;
  }
  #collapseExample{
    margin-top: 40px;
    background-color: #D0D3D4;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 20px;
  }