{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<section class="estate1">
    {% include 'navbar.html' %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="s-head ">
                    <div class=" mx-auto text-center" id="mycard">
                        <h5>Payment Options</h5>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="s-head2 mx-auto text-center">
                    <h2> <span class="brs">Greatwall Gardens 5</span></h2>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sketch">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li><a href="{% url 'landing' %}">Home</a></li>
                    <li><a href="{% url 'estate' %}">Apartment</a></li>
                    <li><a href="{% url 'block' %}">Block</a></li>
                    <li><a href="{% url 'floor' %}">Floor & Unit</a></li>
                    <li><a href="{% url 'terms' %}">Terms and Conditions</a></li>
                    <li><a href="{% url 'booking' %}">Booking Details</a></li>
                    <li>Payment Options</li>
                </ul>
            </div>
            <div class="right-heads">
                <p>
                    Please complete your booking by following the below options. When complete: click Pay.
                </p>
            </div>
            <div class="col-md-4" id="f-left">
                <div class="t-image">
                    <img src="../../../static/img/payments/2.png" class="img-fluid" alt="" srcset="">
                </div>
            </div>
            <div class="col-md-8" id="f-right">
                <div class="row">
                    <div class="right-head">
                        <h3>PAYMENT DETAILS </h3>
                    </div>
                    <div class="col-md-12">
                        <nav class="nav" id="p-nav" role="tablist">
                            <a href="#m-pesa" class="nav-link active" data-bs-toggle="tab">
                                <i class="fa fa-file"></i> M-pesa Payments
                            </a>
                            <a href="#bank" class=" nav-link" data-bs-toggle="tab">
                                <i class="fa fa-file"></i> Bank Transfer
                            </a>
                            <a href="#print" class=" nav-link" data-bs-toggle="tab">
                                <i class="fa fa-file"></i> Print Receipt
                            </a>
                        </nav>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="tab-content mt-3" id="tabs">
                            <div id="m-pesa" class="container tab-pane active"><br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="plan-pay">
                                            <form action="{% url 'pay' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="amount" value="1">
                                                <input type="hidden" name="account_reference" value="Testing">

                                                <div class="mb-3">
                                                    <label for="exampleInputEmail1" class="form-label">M-pesa
                                                        Payemt</label>
                                                    <input type="text" class="form-control" name="phone_number"
                                                        placeholder="07XXXXXXXX">
                                                </div>
                                                <button type="submit" id="pay" class="btn btn-primary w-100">Min. Kshs
                                                    30,000
                                                    Pay <i class="fas fa-long-arrow-alt-right"></i></button>
                                            </form>
                                            <h6>
                                                Dear Customer
                                            </h6>
                                            <p>
                                                You will shortly receive an M-pesa prompt to enter your M-pesa pin to
                                                complete your transaction.
                                                Please ensure your phone is on and unlocked to complete the process.
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="r-pay">
                                        <div class="tops" style="margin-left: 10px;">

                                            <p class="p-head">
                                                You can also pay using Lipa na M-pesa by using the below transactions.
                                            </p>
                                            <ol>
                                                <li>Go to the M-pesa Menu.</li>
                                                <li>Select LIPA NA M-pesa</li>
                                                <li>Select the Paybill Option</li>
                                                <li>Enter Business Number <strong>0000000</strong></li>
                                                <li>Enter Account Number: <strong>GWG5/A/A 04</strong></li>
                                                <li>Input amount <strong>Ksh. 30,000</strong></li>
                                                <li>Enter your M-pesa PIN and click ok</li>
                                                <li>An M-pesa confirmation will be sent to you </li>

                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="bank" class="container tab-pane fade"><br>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="plan-pay">
                                            <h6>
                                                CHEQUES ADDRESSED TO:
                                            </h6>
                                            <p>
                                                <Strong class="brs">A/C NAME:</Strong> <span class="br"> ERDEMANN
                                                    PROPERTY LIMITED</span>
                                            </p>
                                            <p>
                                                <Strong class="brs">ACCOUNT NUMBER:</Strong> <span class="br">
                                                    805121021- KES BUSINESS CURRENT ACCOUNT</span>
                                            </p>
                                            <p>
                                                <Strong class="brs">BANK:</Strong> <span class="br"> DIAMOND TRUST BANK
                                                    KENYA LIMITED</span>
                                            </p>
                                            <p>
                                                <Strong class="brs">SWIFT CODE:</Strong> <span class="br">
                                                    KENXXXXX</span>
                                            </p>
                                            <p>
                                                <Strong class="brs">BANK CODE:</Strong> <span class="br"> 00</span>
                                            </p>
                                            <p>
                                                <Strong class="brs">BRANCH CODE:</Strong> <span class="br"> 000</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-6" id="r-pay">
                                        <div class="tops" style="margin-left: 10px;">

                                            <p class='p-head'>
                                                Email us a copy of your payment slip to:
                                            </p>
                                            <p>
                                                <i class="far fa-envelope" style="color:#048c38;"></i>
                                                bookings@edermann.co.ke
                                            </p>
                                            <p>
                                                <strong>
                                                    Feel free to call us on either of the below:
                                                </strong>
                                            </p>
                                            <p>
                                                <i class="fas fa-phone-volume" style="color:#048c38;"></i> +254 203 513
                                                306
                                            </p>
                                            <p>
                                                <i class="fas fa-phone-volume" style="color:#048c38;"></i> +254 733 209
                                                709
                                            </p>
                                            <p>
                                                <i class="fas fa-phone-volume" style="color:#048c38;"></i> +254 724 209
                                                709
                                            </p>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <div id="print" class="container tab-pane fade"><br>
                                <div class="row">
                                    <div class="col-md-12">

                                    </div>


                                </div>
                            </div>
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-3" id="page">
                                <a href="{% url 'individual' %}" class="btn btn-danger">&laquo; Previous</a>
                            </div>
                        </div>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% include 'footer.html' %}
{% endblock %}